<html>
    <head>
        <title>Poll Title</title>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "styles.css" />      
    </head>
    
    <body>
        <div class = "heading">
            <h1 >Poll Title</h1>      
        </div>
    
        <div class = "container">
            <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-mail Address">
                <input type="checkbox">
                <input type="button" value="submit">
            </form>
        </div>
        

    </body>
</html>
