body {
    background: #1abc9c;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


.heading {
    margin-top: 20vh;
    color: #34495e;

}

.heading h1 {
    font-weight: 700;
    text-transform: uppercase; 
}

form{
    display:block;
}

input[type=text] {
    display:block;
    background: none;
    border: none;
    color: #34495e;
    border-bottom: solid 3px #34495e;
    width: 80%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 20px auto;
    transition: 1s;
}

input[type=text]::placeholder{
    color: #34495e;
}

input[type=text]:hover{
    transform: translateY(-5px);
}


input[type=text]:focus{
    transform: translateY(-5px);
    background: #34495e;
    color: #1abc9c;
}

input[type=button]{
    display:block;
    margin: 20px auto; 
    padding: 12px 20px;
    min-width: 200px;
    background: #34495e;
    border: none;
    color: #1abc9c;
    font-size: 15px;
    text-transform: uppercase;
    transition: 1s;
}

input[type=button]:hover{
    background: none;
    border: solid 3px #34495e;
    color: #34495e;
    font-size: 16px;
}